<% layout('../layout/index') -%>
<% block('title', lang.services.private.title) -%>

<div class="page">
	<div class="clear"></div>
	<div class="wrapper">
		<div class="content">
			<h2><%= lang.services.private.title %></h2>
			<p>Перевод личных документов часто требуется для работы за рубежом, а также совершения туристических и деловых
				поездок, оформлении миграционных документов, виз, обучения в иностранных вузах.</p>
			<p>Мы предоставляем услуги перевода следующих категорий личных документов:</p>
			<ul>
				<li>справки (2-НДФЛ, банковские, медицинские, прочие с места работы и т.д.)</li>
				<li>свидетельства (о браке, рождении и т.д.)</li>
				<li>трудовые договоры</li>
				<li>мотивационные письма и резюме</li>
				<li>личная переписка коммерческого, юридического и частного характера, в т.ч. конфиденциальной</li>
				<li>учебных пособий и материалов (монографий, статей, рефератов, дипломных и курсовых работ)</li>
			</ul>
			<p>При необходимости заверяем перевод документов печатью бюро переводов.</p>
			<p>Первый заказ, который мы получили много лет назад, был на перевод двух дипломов и справок на английский язык. С
				тех пор мы перевели тысячи личных документов самого разного характера, и накопили значительный опыт, создали
				крупнейшую базу переводов и переводчиков на многие языки мира.</p>
			<h2>Сроки</h2>
			<p>Небольшой объем заказа– до 3-5 страниц, мы можем выполнить перевод в тот же день без наценки за срочность.</p>
			<p>Стандартный объем перевода составляет до 8 переводческих страниц (1800 знаков с пробелами) в день.</p>
			<p>Позвоните заранее, и мы предоставим услугу перевода без очереди, а Ваш заказ будет выполнен в кратчайшие сроки.</p>
			<p>Оставьте заявку на расчет стоимости перевода и наши специалисты свяжутся с Вами в течении 15 минут!</p>
			<%-partial('../partials/form')%>
		</div>
		<%-partial('../partials/aside')%>
	</div>
</div>